@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-hero {
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)
      ),
      url('/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .grid-autofit-300 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
